<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./Tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="Doctrine Parse Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <env name="DOCTRINE_PARSE_SERVER_URL" value="http://localhost:1337" />
        <env name="DOCTRINE_PARSE_APP_ID" value="u88dwhX625F5449gB64zc3AWNs64TUwMFVgRwgYkr" />
        <env name="DOCTRINE_PARSE_MASTER_KEY" value="7TH7Pc7p8m2zw4P7turJp3pJ467iVMzVkkTU9RX66" />
        <env name="DOCTRINE_PARSE_REST_KEY" value="" />
        <env name="DOCTRINE_PARSE_MOUNT_PATH" value="parse" />
    </php>
</phpunit>